[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/vista/start/vista.vim"]
	path = pack/vista/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "pack/easymotion/start/easymotion"]
	path = pack/easymotion/start/easymotion
	url = https://github.com/easymotion/vim-easymotion
