[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
